.card
  display: flex
  flex-direction: column
  align-items: space-between
  justify-content: space-between
  height: 100%
  text-decoration: none

.date
  font-size: .7em
  opacity: .6
  text-align: right
