.header
  position: relative
  padding: 3rem 0
  user-select: none

.line
  position: absolute
  top: 50%
  left: 0
  right: 0
  transform: translatey(-50%)
  margin-top: 19px
  height: 7px
  background: var(--colorHeaderFg)
  opacity: .08
  z-index: -1
  @media(min-width: 445px)
    margin-top: 0

.container
  display: flex
  align-items: center
  justify-content: space-between
  flex-direction: column
  @media(min-width: 445px)
    flex-direction: row

.logo
  line-height: 0
  background: var(--colorBg)
  padding: 0 1rem
  margin-left: -1rem
  transition: background-color 850ms ease-out
  color: var(--colorHeaderFg)
  margin-bottom: 1rem
  svg
    height: 22px
    width: auto
  svg:first-child
    display: none

  @media(min-width: 445px)
    margin-bottom: 0
    svg:first-child
      display: block
    svg:last-child
      display: none
