\:root
  --color1: #1C2A3E
  --colorFg: #D2DBE7
  --colorBg: var(--color1)
  --colorAnchorFg: var(--colorFg)
  --colorCodeBlock: #101C2D
  --colorHeaderFg: #8BFFAC

.theme--light
  --colorFg: var(--color1)
  --colorBg: #FFFAF4
  --colorAnchorFg: var(--colorFg)
  --colorCodeBlock: var(--color1)
  --colorHeaderFg: var(--colorFg)

body
  color: var(--colorFg)
  background: var(--colorBg)
  transition: color, background-color 850ms ease-out

blockquote
  font-size: 1.15em
