.nav
  background: var(--colorBg)
  transition: background-color 850ms ease-out;
  padding: 0 1rem
  ul,
  li
    list-style: none
    margin: 0
    padding: 0
    text-transform: uppercase
    font-family: 'JetBrains Mono'
    font-weight: 900
    font-size: .7rem
  ul
    display: flex
  li+li
    margin-left: 1rem
  a
    text-decoration: none
    letter-spacing: .1em
    color: var(--colorHeaderFg)
