@import "../sass/variables.sass"

.nav
  background: var(--colorBg)
  padding: 0 1rem 0 .5rem
  transition: themeTransition(background)
  @media(min-width: 445px)
    margin-right: -1rem
  a
    text-decoration: none
    letter-spacing: .1em
    color: var(--colorHeaderFg)
