.item
  margin: 0
  padding: 0 1rem
  h2
    a
      text-decoration: none
  padding-top: 1rem
  // box-shadow: 0 -2px 3px -2px rgba(0,0,0,.2)

.footer
  display: flex
  align-items: flex-end
  justify-content: space-between
  font-size: .8em
  flex-direction: column
  @media (min-width: 650px)
    flex-direction: row
    align-items: center

.date
  span
    opacity: .6
    transition: opacity 200ms ease-in
    &:nth-child(2)
      border-bottom: 1px dotted var(--colorFg)
      cursor: help
      &:hover
        opacity: 1
