.tag
  font-family: 'Source Code Pro'
  font-size: .7em
  text-transform: uppercase
  letter-spacing: .1em
  font-weight: 900
  margin: 0
  padding: 0
  padding: 0 .5em
  border-radius: 4px
  box-shadow: 0 1px 2px 1px rgba(0,0,0,.08)
